spring:
  config:
    activate:
      on-profile: common
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
  jpa:
    properties:
      hibernate:
        jdbc:
          batch_size: 50
        order_inserts: true

server:
  forward-headers-strategy: framework

discord:
  bot:
    token: ${DISCORD_BOT_TOKEN}

logging:
  config: classpath:logback-spring.xml

management:
  endpoints:
    web:
      exposure:
        include: "health, info, prometheus"
  metrics:
    tags:
      application: estime-api
    distribution:
      percentiles-histogram:
        http.server.requests: true
