spring:
  config:
    activate:
      on-profile: dev
    import:
      - optional:file:.env.dev[.properties]

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.MySQL8Dialect
    open-in-view: false

  flyway:
    enabled: true

  datasource:
    hikari:
      minimum-idle: 5
      maximum-pool-size: 5
      connection-timeout: 30000

url:
  origin:
    client: ${URL_ORIGIN_CLIENT}

springdoc:
  swagger-ui:
    path: /docs

logging:
  discord:
    webhook-url: ${DISCORD_LOG_WEBHOOK_URL}

server:
  tomcat:
    threads:
      max: 15
      min-spare: 5
    accept-count: 5
