:root {
  --gray10: #f4f4f4;
  --gray20: #c6c6c6;
  --primary: #8052e1;
}

.heat-map-cell {
  position: relative;
  border-top: 1px solid var(--gray20);
  border-right: 1px solid var(--gray20);
  background-color: var(--gray10);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--padding-4);
  height: 1.5rem;
  width: 100%;
  user-select: none;
  touch-action: none;
}

.heat-map-cell:hover {
  cursor: pointer;
}

.heat-map-cell::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--primary);
  opacity: 0;
  transition: opacity 0.15s cubic-bezier(0.2, 0, 0, 1);
  pointer-events: none;
}

.heat-map-cell.selected::after {
  opacity: 1;
}
