<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <!-- dev 환경 -->
    <springProfile name="dev">
        <springProperty name="DISCORD_LOG_WEBHOOK_URL" source="logging.discord.webhook-url"/>
        <springProperty name="CLOUDWATCH_URL" source="logging.cloudwatch.url" />

        <appender name="DISCORD" class="com.github.napstr.logback.DiscordAppender">
            <webhookUri>${DISCORD_LOG_WEBHOOK_URL}</webhookUri>
            <layout class="ch.qos.logback.classic.PatternLayout">
                <pattern>
                    ### [Summary]%n%mdc{message}%n
                    ### [Time]%n%d{yyyy-MM-dd HH:mm:ss}%n
                    ### [Level]%n%-5level%n
                    ### [Trace Id]%n%mdc{traceId}%n
                    ### [User Agent]%n%mdc{userAgent}%n
                    ### [Client IP]%n%mdc{clientIp}%n
                    ### [CloudWatch]%n ${CLOUDWATCH_URL}%n
                    ### [Header]%n- host: %mdc{host}%n- uri: %mdc{httpMethod}  %mdc{requestUri}%mdc{query}%n
                    ### [Details]%n```%mdc{details}```
                </pattern>
            </layout>
            <username>🚨DEV ERROR LOGS 🚨</username>
            <tts>false</tts>
        </appender>

        <appender name="ASYNC_DISCORD" class="ch.qos.logback.classic.AsyncAppender">
            <appender-ref ref="DISCORD" />
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>ERROR</level>
            </filter>
        </appender>

        <root level="INFO">
            <appender-ref ref="ASYNC_DISCORD"/>
            <appender-ref ref="Console"/>
        </root>
    </springProfile>

    <!-- prod 환경 -->
    <springProfile name="local">
        <springProperty name="DISCORD_LOG_WEBHOOK_URL" source="logging.discord.webhook-url"/>
        <springProperty name="CLOUDWATCH_URL" source="logging.cloudwatch.url" />

        <appender name="DISCORD" class="com.github.napstr.logback.DiscordAppender">
            <webhookUri>${DISCORD_LOG_WEBHOOK_URL}</webhookUri>
            <layout class="ch.qos.logback.classic.PatternLayout">
                <pattern>
                    ### [Summary]%n%mdc{message}%n
                    ### [Time]%n%d{yyyy-MM-dd HH:mm:ss}%n
                    ### [Level]%n%-5level%n
                    ### [Trace Id]%n%mdc{traceId}%n
                    ### [Client IP]%n%mdc{clientIp}%n
                    ### [CloudWatch]%n ${CLOUDWATCH_URL}%n
                    ### [Header]%n- host: %mdc{host}%n- uri: %mdc{httpMethod}  %mdc{requestUri}%mdc{query}%n
                    ### [Details]%n```%mdc{details}```
                </pattern>
            </layout>
            <username>🚨PROD ERROR LOGS 🚨</username>
            <tts>false</tts>
        </appender>

        <appender name="ASYNC_DISCORD" class="ch.qos.logback.classic.AsyncAppender">
            <appender-ref ref="DISCORD" />
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>ERROR</level>
            </filter>
        </appender>

        <root level="INFO">
            <appender-ref ref="ASYNC_DISCORD"/>
            <appender-ref ref="Console"/>
        </root>
    </springProfile>

    <!-- 공통 콘솔 로거 -->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>${CONSOLE_LOG_PATTERN}</Pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>
</configuration>
